@(customer: List[models.Customer], user: models.User)

@main("List Customer",user){

	@if(flash.containsKey("success")){
		<div class="alert-message warning">
			@flash.get("success")
		</div>
		}
<table class="table table-bordered table-hover table-condensed" id="tab">
	<thead>
	<!-- The header row-->
	<tr>
	
	
		<th>ID</th>
		<th>FirstName</th>
		<th>LastName</th>		
		<th>Address</th>
		<th>Street</th>
		<th>City</th>
		<th>County</th>
		<th>Email</th>
		<th>Phone_number</th>		
	</tr>
	</thead>
	<tbody>
		<!-- Customer row(s) -->
		@for(c <- customer) {
		<tr>
			<td>@c.id</td>
			<td>@c.firstname</td>
			<td>@c.lastname</td>
			<td>@c.address</td>
			<td>@c.street</td>
			<td>@c.city</td>
			<td>@c.county</td>
			<td>@c.email</td>
			<td>@c.phone_number</td>
			<td>
				<a href="@routes.CustomerCtrl.updateCustomer(c.id)"
class="btn-xs btn-danger" onclick="return confirmUpdate();"><span class="glyphicon
glyphicon-pencil"></span></a>
			@if(user.getUserType() != "staff") {
				<a href="@routes.CustomerCtrl.deleteCustomer(c.id)"
class="btn-xs btn-danger" onclick="return confirmDel();"><span class="glyphicon
glyphicon-trash"></span></a>	
			
			</td> }
		</tr>
		}
	</tbody>
</table>

<div>
	<a href="@routes.CustomerCtrl.addCustomer()" <button class="btn btn-primary">Add new Customer</button></a>
	<a href="@routes.Application.options()" <button class="btn btn-primary">Cancel</button></a>

</div>
} 		


<script>
	function confirmUpdate() {
		return confirm('Are you sure?');
	}
</script>

<script>
	function confirmDel() {
		return confirm('Are you sure?');
	}
</script>