@(id: Long, updateOutfitForm: Form[models.Outfit], user: models.User)
<!-- Outfit id and editOutfitForm parameters defined above
 passed to this view by the controller -->

<!-- a 'helper' will be used to create the form dynamically, 
though a static HTML form would also work -->
@import helper._



<!-- The page will be based on the main template -->
@main("Update Outfit",user){

	<h3 id="opttxt">Update Outfit</h3>
	
	<!-- Use the views.html.helpers package to create the form -->
	@form(action = routes.OutfitCtrl.updateOutfitSubmit(id)) {
		
		<!-- Build the form, adding an input for each field -->
		<!-- Note the label parameter -->
	@helper.inputText(updateOutfitForm("colour"), '_label -> "Colour",'class -> "form-control")

    @select(
        updateOutfitForm("category.id"), 
        options(Category.options), 
        '_label -> "Category", '_default -> "-- Choose a category --",
        '_showConstraints -> false, 'class -> "form-control"
    )

		@helper.inputText(updateOutfitForm("size"), '_label -> "Size",'class -> "form-control", 'type -> "number")
		@helper.inputText(updateOutfitForm("price"), '_label -> "Price",'class -> "form-control",'type -> "number")

		<input type="checkbox" id="availablebox" name="available" />	
		<label for="availablebox">Tick the box to set outfit as available</label>
		<input type="hidden" value="0" name="available" />

	<!-- Add a submit button -->
  <div class="actions">
      <input type="submit" value="Save" class="btn btn-primary">
			<a href="@routes.OutfitCtrl.listOutfits(0)" 
				<button class="btn btn-warning" role="button">Cancel</button>
			</a>
  </div>
	} <!-- End Form definition -->

} <!-- End of page content -->


